
# This is a sample configuration file containing different
# SciTokens issuer setups

[Global]
audience = https://testserver.example.com/

[Issuer OSG-Connect]

issuer = https://scitokens.org/osg-connect
base_path = /stash
# For the OSG Connect xrootd host, the `sub` claim should
# be identical to the local Unix username.
map_subject = True

[Issuer CMS]

issuer = https://scitokens.org/cms
base_path = /user/cms
# For CMS, there is no relationship between local usernames
# and the VO name.
map_subject = False

